/* Styles go here */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Chakra Petch', sans-serif;
    /* background-color: blanchedalmond; */
    background-color: #222831;
}

.text {
    /* margin-top: 50% !important; */
    display: flex !important;
    vertical-align: center;
    margin: 20px;
    margin-left: auto;
    font-weight: 200;
    font-style: normal;
}

.text-header {
    color:#EEEEEE;
    font-weight: 700;
    font-size: 24px;
}

.text-header1 {
    font-size: 24px;
    color: #fff;
}


.form-control {
    margin-left: 10px;
    height: 30px;
    font-size: 25;
    width: 400px;
    margin-top: 10px;
    border-radius: 2px;
}

.text-header1-l {
    margin-top: -70px;
    margin-left: 130px;
}

.form-el{
    /* border-color: blanchedalmond; */
    /* border-style: double; */
    padding: 20px;
    align-items: center;
}

.button-file {
    margin-left: 10px;
    width: 500px;
}

.Button {
    width: 150px;
    height: 55px;
    margin-top: 20px;
    margin-left: 170px;
    background-color: transparent;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    color: whitesmoke;
    font-size: large;
    border-radius: 5px;
    margin-bottom: 50px;
}

.Button:hover {
    background:blue;
}

.main {
    /* border-color: blanchedalmond;
    border-style: double; */
    padding-left: 340px;
    margin-left: 150px;
}

.form1 {
    border-color: whitesmoke;
    border-style: outset;
    width: 500px;
    margin-left: -370px;
    margin-top: -30px;
    height: 400px;
    padding-top: 70px;
    border-width: 2px;
    padding-left: 10px;
}

.form2 {
    border-color: whitesmoke;
    border-style: outset;
    width: 500px;
    margin-left: 250px;
    margin-top: -400px;
    height: 400px;
    padding-top: 70px;
    border-width: 2px;
    padding-left: 10px;
}